<!-- <ul>
    <li *ngFor="let p of paises">{{p.name}} - {{p.population | number}}</li>
</ul> -->


<app-error *ngIf="error" [error]="txtError"></app-error>


<app-loanding *ngIf="band"></app-loanding>
<app-tarjetas [data]=nuevasCan></app-tarjetas>
<!-- <div class="card-columns">
    <div class="card" *ngFor="let c of nuevasCan">
        <img class="card-img-top" [src]="c.images | noimagen">
        <div class="card-body">
            <h4 class="card-title">{{ c.name }}</h4>
            <p class="card-text"><span class="badge bg-primary" style="color: aliceblue;" *ngFor="let artist of c.artists">{{artist.name}}</span></p>
        </div>
    </div>
</div> -->